<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastUpdateTime</key>
	<string>1396925687895</string>
	<key>xml</key>
	<string>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;module_config&gt;&lt;modules id=&quot;999999&quot; text=&quot;未定义&quot; icon=&quot;d.png&quot; type=&quot;sys_module&quot;/&gt;&lt;/module_config&gt;</string>
</dict>
</plist>
